<a href="https://colab.research.google.com/github/smpark85/SNS_BigData_Analysis/blob/main/SNS_BA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
### 파이썬에서 산술 연산자를 사용하는 예###

#더하기
print("1.더하기 예 : 2 + 4 = " , 2 + 4)

#빼기
print("2.빼기 예 : 4 -2 = ", 4 - 2)

#곱하기
print("3.곱하기 예 : 4 X 2 = " , 4 * 2)

#나누기
print("4.나누기 예 : 4 / 2 = " , 4 / 2)

#나누기에서 몫 만 출력하기
print("5.나누기에서 몫만 출력하기 예  : 4 // 2 = ", 4 // 2)

#나누기에서 나머지값만 출력하기
print("6.나누기에서 나머지 값만 출력하기 예 : 4 % 2 = ", 4 % 2)

#주어진 숫자의 승수값 출력하기
print("7.주어진 숫자의 승수값 출력하기 예  : 4 ** 2 = ", 4 **2)

1.더하기 예 : 2 + 4 =  6
2.빼기 예 : 4 -2 =  2
3.곱하기 예 : 4 X 2 =  8
4.나누기 예 : 4 / 2 =  2.0
5.나누기에서 몫만 출력하기 예  : 4 // 2 =  2
6.나누기에서 나머지 값만 출력하기 예 : 4 % 2 =  0
7.주어진 숫자의 승수값 출력하기 예  : 4 ** 2 =  16

In [2]:
#연산자 사용 방법
# Case 1
i = 0
i = i + 2
print("i에 저장된 값은 %s 입니다" %i)

# Case 2
j = 0
i += 3
print("j에 저장된 값은 %s 입니다" %j)

i에 저장된 값은 2 입니다
j에 저장된 값은 0 입니다

In [3]:
# 정수형으로 변환하기 - 변환하기 전

no1 = input("첫번째 숫자 입력:")
no2 = input("두번째 숫자 입력:")

print('''첫번째 숫자는 %s 이고 두번째 숫자는 %s 이며 두 숫자의 합은 %s 입니다''' %(no1, no2, no1+no2))

첫번째 숫자 입력:2
두번째 숫자 입력:3
첫번째 숫자는 2 이고 두번째 숫자는 3 이며 두 숫자의 합은 23 입니다

In [4]:
# 정수형으로 변환하기 - 변환 후

no1 = int(input("첫번째 숫자 입력:"))
no2 = int(input("두번째 숫자 입력:"))

print('''첫번째 숫자는 %s 이고 두번째 숫자는 %s 이며 두 숫자의 합은 %s 입니다''' %(no1, no2, no1+no2))

첫번째 숫자 입력:2
두번째 숫자 입력:3
첫번째 숫자는 2 이고 두번째 숫자는 3 이며 두 숫자의 합은 5 입니다

In [5]:
# 실수형 숫자 타입

print("정수형 숫자 타입:", int(1))
print("실수형 숫자 타입:", float(1))

정수형 숫자 타입: 1
실수형 숫자 타입: 1.0

In [6]:
# 숫자 타입에서 많이 사용되는 주요 함수
#a) round( ) - 반올림 함수

no1 = 3.45678
no2 = 3.56789
print("원래값 : %s , 반올림후 값 : %s" %(no1, round(no1)))
print("원래값 : %s , 반올림후 값 : %s" %(no2, round(no2)))

원래값 : 3.45678 , 반올림후 값 : 3
원래값 : 3.56789 , 반올림후 값 : 4

In [7]:
# 숫자 타입에서 많이 사용되는 주요 함수
#a) round( ) - 반올림 함수의 소수점 이하 자리수 지정

no1 = 3
no2 = 5
print("반올림하기 전 원래 값:", no2 / no1)
print("소수 첫째자리까지 반올림하기:", round(no2 / no1,1))
print("소수 둘째자리까지 반올림하기:", round(no2 / no1,2))

반올림하기 전 원래 값: 1.6666666666666667
소수 첫째자리까지 반올림하기: 1.7
소수 둘째자리까지 반올림하기: 1.67

In [8]:
# 숫자 타입에서 많이 사용되는 주요 함수
#b) trunc( ) - 버림함수
import math

no1 = 3
no2 = 5
print("버림하기 전 원래값:", no2 / no1)
print("소수 첫째자리까지 버림하기:", math.trunc(no2 / no1))

버림하기 전 원래값: 1.6666666666666667
소수 첫째자리까지 버림하기: 1

In [9]:
# 숫자 타입에서 많이 사용되는 주요 함수
#c) ceil( ) - 큰 정수 찾기 함수

cnt = int (input("총 몇건의 데이터를 수집할까요? :") )
#한페이지에 15건의 게시물이 있다고 가정하고 계산합니다.
page_cnt = math.ceil(cnt/15)
print("총 %s 페이지까지 데이터를 수집해야 합니다" %page_cnt)

총 몇건의 데이터를 수집할까요? :200
총 14 페이지까지 데이터를 수집해야 합니다

In [10]:
# 숫자 타입에서 많이 사용되는 주요 함수
#d) floor( ) - 작은 정수 찾기 함수
import math

no1 = 4.9
no2 = 4.1

print("%s보다 작으면서 가장 가까운 정수는 %s 입니다" %(no1, math.floor(no1)))
print("%s보다 작으면서 가장 가까운 정수는 %s 입니다" %(no2, math.floor(no2)))

4.9보다 작으면서 가장 가까운 정수는 4 입니다
4.1보다 작으면서 가장 가까운 정수는 4 입니다

In [11]:
#2. 문자열 유형
# 2) 인덱싱과 슬라이싱

str1 = '파이썬완전쉽죠?'
print(str1)
print(str1[0])
print(str1[1])

파이썬완전쉽죠?
파
이

In [12]:
# 슬라이싱 예제

str1 = '파이썬완전쉽조?'
print(str1)

print(str1[0:4])

파이썬완전쉽조?
파이썬완

In [13]:
# 슬라이싱 예제 2

str1 = '파이썬 완전 쉽죠?'

print(str1[3:])
print(str1[:3])

 완전 쉽죠?
파이썬

In [14]:
# [ lower( )함수 / upper( ) 함수]

str2 = "PyThoN" #대소문자가 섞여 있습니다
print(str2.lower())
print(str2.upper())

python
PYTHON

In [16]:
# [lstrip( ) / rstrip( ) / strip( ) ]

str3 = "       <- 이쪽 끝에 공백 있었어요"
str4 = "오른쪽 끝에 공백 있었어요->         "
str5 = "       <- 양쪽 끝에 공백 있었어요->         "

print(str3.lstrip())
print(str4.rstrip())
print(str5.strip())

<- 이쪽 끝에 공백 있었어요
오른쪽 끝에 공백 있었어요->
<- 양쪽 끝에 공백 있었어요->

In [17]:
# replace(  )
str6 = '새우깡도 해산물 인가요?'
print(str6.replace("새우깡", "새우"))

새우도 해산물 인가요?

In [27]:
# split( )

tel = '+82-02-1234-5678'
print(tel.split('-'))
print(tel.split('-',0))
print(tel.split('-',1))
print(tel.split('-',2))

['+82', '02', '1234', '5678']
['+82-02-1234-5678']
['+82', '02-1234-5678']
['+82', '02', '1234-5678']

In [29]:
# len( )

str1 = '파이썬 완전 좋아요'
str2 = ['파이썬', '웹크롤러', '가치랩스']

print(len(str1))
print(len(str2))

10
3

In [31]:
# 문자열로 연산하기

print("=" *80)
print("문자열로 연산하기 실습")
print("+" *80)

================================================================================
문자열로 연산하기 실습
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [33]:
# 리스트 유형 예제

list1 = ['1982-07-15', '홍길동', 30]
print(list1)

['1982-07-15', '홍길동', 30]

In [38]:
# append( )함수 / insert( ) 함수

list2 = ['첫째', '둘째', '셋째']
list2.append('append로 추가한 것')
list2.insert(2, 'insert로 추가한 것')
print(list2)

['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']

In [39]:
# del( )함수  / remove( )함수

print('삭제전목록:', list2)
del list2[2]
print('del 로 삭제후 목록 : ', list2)

list2.remove("append로 추가한 것")
print('remove로 삭제후 목록:', list2)

삭제전목록: ['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']
del 로 삭제후 목록 :  ['첫째', '둘째', '셋째', 'append로 추가한 것']
remove로 삭제후 목록: ['첫째', '둘째', '셋째']

In [40]:
# sort( )함수와 reverse( )함수

list3 = [3,1,5,8,2]
list3.sort()
print('오름차순(기본)정립후', list3)

list3.reverse()
print('내림차순 정렬후:', list3)

list4 = ['banana', 'apple', 'cherry', 'Apple']
list4.sort()
print('영어 정렬:', list4)

list5 = ['홍길동', '전우치', '김유신', '이순신']
list5.sort()
print('한글 정렬:', list5)

오름차순(기본)정립후 [1, 2, 3, 5, 8]
내림차순 정렬후: [8, 5, 3, 2, 1]
영어 정렬: ['Apple', 'apple', 'banana', 'cherry']
한글 정렬: ['김유신', '이순신', '전우치', '홍길동']