<a href="https://colab.research.google.com/github/smpark85/SNS_BigData_Analysis/blob/main/SNS_BA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Part 2_2. 변수 사용법과 입출력 배우기

# 1) var1 이름의 변수를 만들고 10의 값을 할당하세요
var1 = 10
print(var1)

# 2) var2 이름의 변수를 만들고 20의 값을 할당하세요
var2 = 20
print(var2)

10
20

In [ ]:
#3) 다양한 연산자 사용하기

print(var1 + var2)
print(var1 * var2)
print(var1 / var2)

30
200
0.5

In [ ]:
#4) %연산자 활용하기

var5 = 3
var6 = 14
print(var6 % var5)

2

In [ ]:
#5) print( ) 함수 사용하기

# 출력할 문장을 직접 쓰기
print("오늘도 굿모닝이지 말입니다!")

#출력할 문장을 변수에 넣고 변수값 출력하기
str = "내일도 굿모닝이지 말입니다!"
print(str)

오늘도 굿모닝이지 말입니다!
내일도 굿모닝이지 말입니다!

In [ ]:
#6) 리터럴 문자와 함께 사용하기
hungry = 5
print('배가 무지 고파서 밥을 %s 그릇도 먹겠네!' %hungry)

배가 무지 고파서 밥을 5 그릇도 먹겠네!

In [ ]:
#7) 특수문자와 함께 사용해야 할 경우

up = 20
print('뉴스에서 물가가 %s %까지 오른다는데....' %up)

TypeError: ignored

In [ ]:
#7-1) 특수문자와 함께 사용해야 할 경우

up = 20
print('뉴스에서 물가가 %s %%까지 오른다는데....' %up)

뉴스에서 물가가 20 %까지 오른다는데....

In [ ]:
#8) 여러개의 변수를 한꺼번에 사용할 경우

up = 20
sal = 10

print('뉴스에서 물가는 %s %% 오른다는데 내 월급도 %s %%라도..' %(up, sal))

뉴스에서 물가는 20 % 오른다는데 내 월급도 10 %라도..

In [ ]:
#9) input() 함수로 정보 입력받기

txt1 = input()

짜장면

In [ ]:
#10) input() 함수에서 안내 멘트 보이기
txt2 = input('점심 뭐 드셨어용?')

점심 뭐 드셨어용?짬뽕

In [ ]:
#11) 출력 되는 양식을 지정하여 정보를 입력받기

area_no = input('''
1. 서울       2. 대전       3. 광주       4.부산
5. 경남       6. 경북       7. 충청       8.제주

위 지역중 정보를 조회할 지역의 번호를 입력하세요.''')

1. 서울       2. 대전       3. 광주       4.부산
5. 경남       6. 경북       7. 충청       8.제주

위 지역중 정보를 조회할 지역의 번호를 입력하세요.5